<!doctype html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>{{ title }}</title>
      <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <h1>CLOUD mini project</h1>
    <a href="/pages/form.html">Login Page</a>
    <br><br>
  
    <a href="/pages/pa.html">Static Page</a>
</body
</html>
