<!doctype html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>{{ title }}</title>
      <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <p>Your Username is: {{ yourUsername }}</p>
    <p>Your Password is: {{ yourPassword }}</p>
    <br>
    <a href="/">Home Page</a>
</body
</html>
